/#output {
    display: inline;
}

.cursor {
    display: inline-block;
    width: 10px;
    height: 20px;
    background-color: black;
    vertical-align: text-bottom;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
