body {
    font-family: 'Roboto', sans-serif;
    background-color: #F8F9FA;
    color: #495057;
}

.sidebar {
    background-color: #000000;
    color: #FFFFFF;
    padding: 15px;
    height: 100vh;
    overflow-y: auto;
}

    .sidebar::-webkit-scrollbar {
        width: 12px;
        height: auto;
    }

    .sidebar::-webkit-scrollbar-track {
        background: transparent;
    }

    .sidebar::-webkit-scrollbar-thumb {
        background: transparent;
    }

    .sidebar:hover::-webkit-scrollbar-thumb {
        background: #383838;
        border-radius: 10px;
        border: 4px solid transparent;
        background-clip: content-box;
    }

    .sidebar::-webkit-scrollbar-thumb:active {
        border-radius: 10px;
        background: #4d4c4c;
        border: 4px solid transparent;
        background-clip: content-box;
    }

    .sidebar::-webkit-scrollbar-thumb:hover {
        border-radius: 10px;
        background: #4d4c4c;
        border: 4px solid transparent;
        background-clip: content-box;
    }

    .sidebar::-webkit-scrollbar-corner {
        background: transparent;
    }



    .sidebar .nav-link {

        color: #FFFFFF;
        margin-bottom: 5px;
        margin-left: 7px;
        margin-right: 6px;
        font-size: 14px;
        padding-left: 12px; /* Added padding to the left */
        border-radius: 10px;
    }

        .sidebar .nav-link.active,
        .sidebar .nav-link:hover {
            background-color: #6c757d;
        }

    .sidebar .group-title {
        color: #6c757d;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 20px; /* Added padding to the left */
    }
a.nav-link.active > p {
    width: calc(100% - 39px);
    margin-bottom: 0px;
}

    .nav-class {
        position: relative
    }

.tab-content {
    margin-left: auto;
    margin-right: auto;
}

.chat-container {
    margin: 20px;
    background-color: #FFFFFF;
    border: 1px solid #DEE2E6;
    border-radius: 5px;
    padding: 13px;
    margin-bottom: 0px; /* Adjusted bottom margin for input */
}

.chat-header {
    font-weight: 600;
    margin-bottom: 20px;
}

.chat-message {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #E9ECEF;
    border: 1px solid #DEE2E6;
}

    .chat-message .sender {
        font-weight: 600;
        color: #007BFF;
        margin-bottom: 10px;
    }

    .chat-message .text {
        color: #212529;
    }

.chat-input {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: #FFFFFF;
    border-top: 1px solid #DEE2E6;
    width: calc(100% - 16.66666667%); /* Adjusted width to match chat container */
}

    .chat-input .input-group {
        max-width: 600px; /* Adjusted max-width to match chat container */
        margin: auto;
    }

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.col-md-2.history {
    padding: 0;
    padding-bottom: 50px;
    background-color: #212529;
    /*min-width:150px;*/
}

.col-md-10.chat {
    padding: 0;
    overflow-y: auto;
    height: calc(100vh - 78px); /* Adjusted height to match chat container */
    
}

    .col-md-10.chat::-webkit-scrollbar {
        width: 12px;
        height: auto;
    }

    .col-md-10.chat::-webkit-scrollbar-track {
        background: transparent;
    }

    .col-md-10.chat::-webkit-scrollbar-thumb {
        background: #adadb3;
        border: 4px solid transparent;
        background-clip: content-box;
        border-radius: 10px;
    }
@media (max-width: 768px) {
    .col-md-2.history {
        float: left !important;
        width: 16.66% !important;
    }

    .col-md-10.chat {
        float: left !important;
        width: 83.33% !important;
    }
}
@media(max-width:684px){
    a.nav-link.active > p {
        width: 33px;
        padding-top:21px;
    }
}
/*.cursor {
    display: none;
    width: 10px;
    height: 20px;
    background-color: black;
    vertical-align: text-bottom;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}*/
