@page
@model WebClient.Pages.ChatGPTModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ChatGPT Typing Effect</title>
	<link rel="stylesheet" href="~/css/ChatAsync.css" type="text/css" />
	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
	<h1>MyGPT</h1>
	<div id="MessageList">
	</div>

	<form name="ChatForm" class="needs-validation" novalidate>
		<input type="hidden" name="userId" value=@User.Claims.FirstOrDefault(c => c.Type == "sub").Value />
		<div class="mb-3">
			<label for="FormMessage" class="form-label" style="font-weight:bold">输入你想问的问题</label>
			<textarea class="form-control" id="FormMessage" name="message" rows="4" placeholder="请输入聊天内容" required></textarea>
			<div class="invalid-feedback">
				请输入内容
			</div>
		</div>
	</form>
	<div class="col-12">
		<button class="btn btn-primary" id="sendbutton">Get Answer</button>
		<button class="btn btn-secondary" id="stopbutton" disabled>Cancel</button>
	</div>

	<script src="~/js/SendMessage.js"></script>
</body>
</html>