@page
@model WebClient.Pages.OpenAIModel
@{
	Layout = null;
}
<html>
<head>
	<title>Chat Interface with Grouped Sidebar</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="~/css/GPT.css" type="text/css" />
	<link rel="stylesheet" href="~/css/ChatAsync.css" type="text/css" />
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 sidebar history">
				<button class="btn btn-outline-light" id="newchatbutton" type="button">
					<i class="bi bi-plus-circle"></i>
					New Chat
				</button>
				<nav class="nav flex-column" role="tablist" id="messagehistory">
					@* <div class="group-title">Yesterday</div>
					<a class="nav-link active" data-bs-toggle="pill" data-bs-target="#test1" type="button">Chat with Bob</a>
					<div class="group-title">Previous 7 Days</div>
					<a class="nav-link" data-bs-toggle="pill" data-bs-target="#test2" type="button">Chat with Dana</a>
					<div class="group-title">Previous 30 Days</div>
					<a class="nav-link" data-bs-toggle="pill" data-bs-target="#test3" type="button">Chat with Frank</a> *@
					<!-- Add more group-title_nav-link as needed -->
				</nav>
			</div>

			<div class="col-md-10 chat">
				<div class="tab-content">
					@* <div class="chat-container tab-pane fade" id="test2">
						<div class="chat-header">
							ChatGPT 3.5
						</div>
						<div class="chat-message">
							<div class="sender">You</div>
							<div class="text">...</div>
						</div>
						<div class="chat-message">
							<div class="sender">ChatGPT</div>
							<div class="text">...</div>
						</div>
					</div>*@
					<br>
				</div>
				<form name="ChatForm" class="needs-validation" novalidate>
					<input type="hidden" name="userId" value=@User.Claims.FirstOrDefault(c => c.Type == "sub").Value />
					<div class="chat-input">
						<div class="input-group">
							<button class="btn btn-warning" id="stopbutton" type="button" disabled>
								<i class="bi bi-x-circle-fill"></i>
								Cancel
							</button>
							<textarea class="form-control" type="text" id="textarea" name="message" rows="1" placeholder="Type a message..." required></textarea>
							<button class="btn btn-primary" id="sendbutton" type="button">
								<i class="bi bi-arrow-up-square-fill"></i>
								Send
							</button>
						</div>
					</div>
				</form>
			</div>
			
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/Chat.js"></script>
	<script src="~/js/resize.js"></script>
	<script src="~/lib/marked/marked.min.js"></script>
</body>
</html>